

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body
{
	background-color: lightgrey;
}

td
{
	min-width: 150px;
}


.row
{
	height: 32px;
}

#navbar-text-left
{
	min-width: 20em;
}

.jumbotron
{
	text-align: center;
	width: 95%;
}

.spielstein
{
	height: 32px;
	width:32px;
	/*display:inline-block;*/
	float:left;
	background-image: url(../img/spielfeld/background.png);
}


.spielstein:nth-child(2n-1)
{
	/*display:inline-block;*/
}

.spielstein:hover img
{
	opacity: 0.8;
}

.rand_links
{
	background-image: url(../img/spielfeld/side_left.png);
}

.rand_rechts
{

	background-image: url(../img/spielfeld/side_right.png);
}

.ecke_ol
{


	background-image: url(../img/spielfeld/top_left.png);

}

.ecke_or
{

		background-image: url(../img/spielfeld/top_right.png);

}

.ecke_ul
{
		background-image: url(../img/spielfeld/bottom_left.png);
}

.ecke_ur
{
		background-image: url(../img/spielfeld/bottom_right.png);
}

.toprow
{
	height : 32px;
}

.rand_oben
{
	height : 32px;
	background-image: url(../img/spielfeld/top.png);

}

.rand_unten
{
	height : 32px;
	background-image: url(../img/spielfeld/bottom.png);
}

#spielcontainer
{
	width: auto;
	height: auto;
}

.markiert
{
	background-color: green;
}

.selektiert
{
	opacity: 0.8;
}

.selektiert img
{
	opacity: 0.5;
	
}

.music-stop
{
	onclick:stopMusic();
}

.music-play{
	onclick:playMusic();
}

.link, .link:hover
{
    text-decoration: none;
    cursor: pointer;
}

.nolink, .nolink:hover
{
    cursor: default;
    color: grey;
    text-decoration: none;
}


 body {
                padding-top: 50px;
                padding-bottom: 20px;
            }



.striketrough
{
	text-decoration: line-through;
}